.App-header {
  background-color: var(--main-bg-color);
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

nav{
  margin: 0 0 0 5vw;
  color: var(--main-active-color);
  font-family: "Syne-Bold";
  font-weight: normal;
}

nav ul{
  display: inline-flex;
  gap: 5vw;
  justify-content: flex-start;
}

.Section-ThreeJs{
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 10;
}

#canvas-container{
  width: 40%;
}

.Section-Title{
  display: flex;
  height: 50%; 
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: start;
}

.Section-Title h1{
  color: var(--main-active-color);
  font-family: "Syne";
  font-weight: bolder;
  margin: 0 0 5vh 5vw;
  padding: 0;
}

/* Lucas */
.Section-Title h1:first-of-type{
  font-size: 6em;
  margin-bottom: -0.2em;
}

/* Huerta */
.Section-Title h1:last-of-type{
  font-size: 9em;
}

#main-Wrapper{
  margin-top: 5vh;
  width: 100%;
  height: 300vh;
}

#main-Wrapper h2{
  text-align: center;
  font-size: 4em;
  margin: 0;
}

#main-Wrapper .mainProjects{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main-Wrapper .mainProjects img{
  width: 20%;
  height: auto;
}

#main-Footer{
  height: 50vh;
  width: 100%;
  margin: 0;
  background-color: var(--main-active-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-Footer h2{ 
  text-align: center;
  font-size: 6em;
  margin: 7% 0 0 0;
}

#main-Footer .rowFooter{
  font-family: "Syne";
  font-weight: normal;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: flex-end;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}

.fixed{
  position: fixed;
}