/* Variables css */
:root {
  --main-bg-color: #191716;
  --main-active-color: #DBEBC0; 
}

/* Font in .assets/fonts */
@font-face {
  font-family: "Syne";
  src: local("Syne"),
    url("./assets/fonts/Syne/Syne-Regular.otf") format("opentype"), 
    url("./assets/fonts/Syne/Syne-Bold.otf") format("opentype"), 
    url("./assets/fonts/Syne/Syne-Extra.otf") format("opentype"), 
}

@font-face {
  font-family: "Syne-Bold";
  src: local("Syne"),
    url("./assets/fonts/Syne/Syne-Bold.otf") format("opentype"); 
    font-weight: normal; 
}

@font-face {
  font-family: "Syne";
  src: local("Syne"),
    url("./assets/fonts/Syne/Syne-Extra.otf") format("opentype"); 
    font-weight: bolder; 
}

body {
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
}
